#!/bin/bash

HC=$PS_GREY   # desktop
HC=$PS_RED    # production
HC=$PS_GREEN  # develop
HC=$PS_YELLOW # test

echo -e "\n\\033[01;31mYOU ARE ON A PRODUCTION SERVER\\033[00m\n"

export XDEBUG_CONFIG="idekey=PHPSTORM"
export PHP_IDE_CONFIG=serverName=$(hostname -s)
